<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
</head>

<body>

<h1>Accounts</h1>

<table>
    <tr>
        <th>Sort Code</th>
        <th>Number</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Overdraft Limit</th>
    </tr>
    <tr th:each="account: ${accounts}">
        <td th:text="${account.sortCode}"></td>
        <td th:text="${account.number}"></td>
        <td th:text="${#strings.toLowerCase(account.type)}"></td>
        <td th:text="${account.owner}"></td>
        <td th:text="${account.overdraft}"></td>
    </tr>
</table>

<form action="createAccount">
    <input type="submit" value="Create Account"/>
</form>

</body>

</html>
